:root {
    --cor-principal: rgb(255, 255, 255);
    --cor-secundaria: rgba(255, 255, 255, 0.489);
    --cor-background: black;
    --cor-destaque: rgb(20, 239, 179);
}

body {
    color: var(--cor-secundaria);
    background: var(--cor-background);
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

header {
    padding: 20px;
    font-size: 32px;
    color: var(--cor-principal);
}

.chamada {
    background: var(--cor-destaque);
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 0 20px;
}

.categoria-videos img {
    opacity: 0.7;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    max-width: 100%;
    height: auto;
}

.categoria-videos img:hover {
    opacity: 1.0;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.categoria {
    padding: 10px;
    margin: 0 5px;
}

.categoria video {
    margin-bottom: 0;
}